<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="HORIZON Go">
		<setting type="lsep" label="Logowanie" />
		<setting id="username"  type="text" label="Login" default="" />
		<setting id="password"  type="text" label="Hasło" option="hidden"  default="" />
		<setting id="pin"  type="text" label="PIN(UPC)" option="hidden"  default="" />
	</category>
	 <category label="Kreator listy m3u (live TV)">
        <setting label="Lista m3u (Nazwa Pliku oraz Katalog Docelowy)" type="lsep"/>
        <setting label="Nazwa" type="text" id="fname" default="iptv.m3u"/>
        <setting label="Katalog" type="folder" id="path_m3u" source="auto" option="writeable"/>
        <setting type="action"
                 action="RunPlugin(plugin://plugin.video.horizongo?action=BUILD_M3U)"
                 label="Utwórz listę m3u"
                 option="close"/>
    </category>
	<setting id="zalogowany" value="false" default="false"/>
	<setting id="isReplay" value="" default="false"/>
	<setting id="deviceId" value="" default=""/>
</settings>
 